@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300&display=swap');

.topcontent {
    color: white;
    position: relative;
}

.topcontent_container {
    position: absolute;
    top: 300px;
    right: 150px;
}

.topcontent_container>p {
    letter-spacing: 1px;
    text-align: left;
    padding-left: 3px;
    padding-top: 20px;
}

.topcontent_container>a>button {
    margin-top: 30px;
    text-align: left;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.topcontent_container>h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.topcontent_dawnloadButton {
    color: white;
    background-color: #004d40;
    font-size: 14px;
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
    margin-right: 20px;
}

.topcontent_dawnloadButton:hover {
    color: #f64c08;
    background-color: white;
    font-weight: 600;

}

.topcontent_workButton {
    color: white;
    border: 1px solid white !important;
    background-color: transparent;
    font-size: 14px;
    padding: 9px 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.topcontent_workButton:hover {
    color: black;
    background-color: white;
    font-weight: 600;
}

.topcontent .image_profile img {
    width: auto;
    height: 100vh;
}

@media only screen and (max-width: 420px) {
   
    .topcontent {
        display: flex;
        flex-direction: column-reverse;
        align-items: center; 
        height: 100vh;
        justify-content: space-between;
      }
      
      .topcontent_container {
        position: static; 
        text-align: center;
        padding-bottom: 20px;
      }
      
      .topcontent_dawnloadButton, .topcontent_workButton {
        width: 100%; 

      }
      .topcontent_container>a>button{
        text-align: center;
      }
      .topcontent .image_profile{
        height: 100%;
      }
    .topcontent .image_profile img {
        width: 600px;
        height: 500px;
    }
}