*{
    margin: 0;
    padding: 0;
}
.project >img{
    width: 350px;
    height: 179px;
    margin: 0 15px;
}
.Description{
    display: none;
}
.project{
    margin: 15px;
    width: 350px;
    height: 179px;
    transition: transform 100ms ease-in;
}
.project:hover{
    color: white;
    background-color: #f64c08;
    transform: scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.project_content{
    padding: 10px;
}
.project_content>h4{
    padding-bottom: 5px ;
}
.project_content>p{
    font-size: 15px;
}
.Carousel{
    display:none
}
@media screen and (max-width: 420px) {
    .project>img{
        margin: 0px;
    }
    .project:hover {
        transform: none; 
    }
    .Carousel{
        display:block;
        margin-top: 10px;
    }
    .images{
        display: none;
    }
    a{
        text-decoration: none;
        color: white;
        margin: auto;
    }
    
}

