.contact{
    display:flex;
    flex-direction:column;
    color: white;
    justify-content: center;
    margin: 200px 0 100px;
    align-items: center;
}
.contact_container{
    border: 1px solid white;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
} 
.contact_container>p{
    font-size:20px;
    text-align: left;
    padding-bottom: 30px;
}
.contact_container>p>span{
    color: white;
}
.mail{
    color: #f64c08;
    text-decoration: underline;
}
.contact_icons>a>button>span>.MuiSvgIcon-root{
    color: white;
    font-size: 30px;
}
.contact_icons>a>.MuiButtonBase-root{
    color: white;
}
@media only screen and (max-width: 420px) {
    .contact {
        margin: 100px 0 50px;
    }

    .contact_container {
        width: 73%; /* Adjust as needed for responsiveness */
        margin-top: 10px;
        height: 150px;
        padding: 0px;
    }

    .contact_container > p {
        font-size: 16px;
        padding-bottom: 5px;
    }

    .contact_icons > a > button > span > .MuiSvgIcon-root {
        font-size: 20px;
    }
}